<h3 [ngStyle]="{ margin: '16px 0' }">Danh sách heroes</h3>
<button routerLink="/" nz-button nzType="default">Dashboard</button>
<button routerLink="/heroes" nz-button nzType="primary">Heroes</button>

<nz-list nzBordered nzSize="small">
  <nz-list-item *ngFor="let hero of heroes" (click)="showHero(hero)">
    <span
      routerLink="/heroes/{{ hero.id }}"
      routerLinkActive="router-link-active"
      >{{ hero.id }} {{ hero.name }}</span
    >
  </nz-list-item>
</nz-list>

<h3 [ngStyle]="{ margin: '16px 0' }">Hero đang được chọn</h3>
<div *ngIf="hero">
  <span>{{ hero.id }}</span>
  <input nz-input placeholder="Hero name" [(ngModel)]="hero.name" />
</div>
